{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
<main class="container mx-auto max-w-7xl">
    <h1 class="text-2xl font-bold">Mon profil</h1>

    
    <section>
        <a href="{{ path('app_new_recipe')}}" class="btn btn-primary">Ajouter une recette</a>
    </section>
</main>
{% endblock %}
