{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}


{% block body %}

<main>
<section class="w-12/12 md:6/12 mx-auto flex flex-col items-center justify-center">
  <h1 class="text-2xl font-bold">
    {% if editMode %}
      Edit Category
    {% else %}
      New Category
    {% endif %}
  </h1>

  {{ form_start(categoryForm) }}

    {{ form_row(categoryForm.name) }}

    <button type="submit" class="btn btn-success">
      {% if editMode %}
        Update
      {% else %}
        Add
      {% endif %}
    </button>
  {{ form_end(categoryForm) }}
</section>
</main>
{% endblock %}