{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Hello {{ session }}! ✅</h1>
    <p>
        {{ session }}
    </p>
</div>
{% endblock %}
